.center {
    margin: auto;
    width: 50%;
    padding: 10px;
    margin: 15% 30% 15% 25%;
}


.centerbutton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2% 0% 2% 0%;
  }