body {
    margin: 40px;
}
  
.sidebar {
    grid-area: sidebar;
}

.sidebar2 {
    grid-area: sidebar2;
}

.content {
    grid-area: content;
}

.header {
    grid-area: header;
}

.footer {
    grid-area: footer;
}

.wrapper {
    background-color: #fff;
    color: #444;
}

.wrapper {
    display: grid;
    grid-gap: 1em;
    grid-template-areas:
    "header"
    "sidebar"
    "content"
    "sidebar2"
    "footer"
}

@media only screen and (min-width: 500px)  {
    .wrapper {
        grid-template-columns: 20% auto;
        grid-template-areas:
        "header   header"
        "sidebar  content"
        "sidebar2 sidebar2"
        "footer   footer";
    }
}

@media only screen and (min-width: 600px)   {
    .wrapper {
    grid-template-columns: 1px auto 414px;
    grid-template-areas:
    "header  header  header"
    "sidebar content sidebar2"
    "footer  footer  footer";
    }
}

.box {
background-color: rgb(255, 255, 255);
color: rgb(15, 13, 13);
border-radius: 5px;
padding: 10px;
font-size: 150%; 
border: 1px solid black;
}

.header {
background-color: rgb(255, 255, 255);
}

.sidebar2 {
background-color: rgb(255, 255, 255);
color: #444;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.answer{
    margin-top: 2%;
    margin-bottom: 20px;
}

.my-icon {
    cursor: pointer;
}

.failed {
    background-color:  red !important;
}

.success {
    background-color: green !important;
}